
   html {
    scroll-padding-top: 8rem;
  }

  .title {
    color: #5265c4;
    font-family: 'Century Gothic';
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }

  .navRight {
    margin-left: 250px;
    font-size: 15px;
  }


  .nav-bar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 9999;
    margin-bottom: 400px;
  }

  body {
    background: #EFF6FF;
  }

  h1 {
    color: #5265c4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h2 {
    color: #5265c4;
    font-family: 'Century Gothic';
    text-align: left;
  }

  p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  li { 
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 0px 0px; 
}

  #header {
    color: #5265c4;;
    margin-left: 5px;
    margin-bottom: 1em;
  }


  .text {
    text-align: left;
    width: 40%;
    margin-left: 20px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
  }

  #right-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .picture {
    margin-bottom: 50px;
  }
  
  #text-obs {
    width: 90%;
    margin-left: 20px;
  }

  #image-row {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 20px;
    justify-content: space-between;
  }
  #image-row img {
    margin: 10px;
  }

  #image-row-mobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }
  #image-row-mobile img {
    height: auto;
    margin: 10px;
  }

  a {
    color: black;
  }
  
  a:hover {
    color: #5265c4;;
  }

  #text h2 {
    margin-top: 50px;
  }


  @media (max-width: 900px) {
    #text {
        width: 100%;
    }
    #right-col {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .picture {
      margin: 50px;
    }
    .navRight {
      margin-left: 0px;
      font-size: 15px;
    }
  }


  .lofi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .lofi iframe{
    margin-bottom: 5rem;
    height: 400px;
    width: 500px;
  }





  
  